h1 {
  text-align: center;
  font-size: 30px;
  font-family:"Times New Roman", Times, serif;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 18px;
  font-family: inherit;
}

img {
width: 150px;
  margin: 12px;
  float: left;
}
.skill{
  font-size: 4px;
  border: 30px black;
  padding: 10px;
  margin: 20px;
  background-color: orange;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 50%;
  padding: 0 4px;
}
.experience{
  font-family:"Times New Roman", Times, serif;
}

.highlight{
  color: red;
}

.title{
  font-size: 20px;
  font-weight: bold;
}
